@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");

.cornerLinks{
    position: absolute;
    left: 85%;
    padding: 1em;
    
}


.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
}

#searchButton{
    background-color: blue;
    font: 16px system-ui;
    color: black;
    
}

#inputBar{
    background-color: greenyellow;
    padding: 10px;
}

#logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

